[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/themes/hugo-story"]
	path = themes/themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story
